* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightcyan;
}

.header {
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkcyan;
  color: #ffffff;
}

.header h1 {
  display: inline;
  font-size: 100px;
  text-align: center;
  justify-content: center;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.hero img {
  float: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

#relative-box {
  position: relative;
  left: 1100px;
  top: 250px;
}

.content {
  width: 100%;
  display: inline;
  margin-left: 20px;
  font-size: xx-large;
}

.categories {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: darkcyan;
  color: #ffffff;
}

.categories h2 ul li{
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: darkcyan;
  color: #ffffff;
}

.categories img {
  max-height: 200px;
}

.categories h2 {
  margin-bottom: 20px;
  font-size: 50px;
}

#hobbies {
  display: block;
  width: 100%;
}

li {
  display: inline;
  font-size: 40px;
  text-align: center;
  justify-content: space-between;
}

#work-history {
  display: block;
  width: 100%;
}

#contact-info {
  display: block;
  width: 100%;
}

/*Tablets*/
@media screen and (max-width: 992px) {
  .header {
    background:darkorchid;
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  body {
    background:orchid;
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .categories {
    background:darkorchid;
    width: 50%;
  }
}

/*Smart Phones*/
@media screen and (max-width: 768px) {
  .header {
    background:darkblue;
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  body {
    background:blue;
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .categories {
    background:darkblue;
    width: 25%;
  }
} 

